
.footInfofullOneDiv{
    background:white;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding: 30px;
    }
    .footInfocard{
        display:grid;
        place-items: center;
        border-right: 1px solid rgb(230, 230, 230);
        padding: 20px;
    }
    
    .footInfoctext{
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        /* font-style: normal; */
        font-size: 15px;
        color: rgba(0, 0, 0, 1);
    height: 25px;
    }
    .footInfopara{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 12px;
        /* line-height: 12px; */
        color: rgba(153, 153, 153, 1);
        width: 199px;
        margin: 2px 0;
        line-height: 1.5;
        text-align: center;
       
    }
    .footInfoOneDiv{
        display:flex;
        justify-content: space-evenly;
    }

    .footInfofulltwoDiv{
        background-color: white;
        padding: 50px 30px 30px 30px;
        border-bottom: 1px solid rgba(224, 224, 224, 1);
    }
    .footerSocialdiv{
            display:flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
    }
    .footerSocialfulldiv{
        display:flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
    }
    
    .footerPoliciesdiv{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        
    
    }
    .footerPoliciesdiv a{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: rgba(153, 153, 153, 1);
        text-decoration: none;
        line-height: 2;
    }
   .socpoliciesTag{
    font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: 
        rgba(0, 0, 0, 1);
   }
   .footInfofullthreeDiv{
display: flex;
justify-content: space-between;
padding: 10px 40px;
background-color: white;
   }
   .footInfotext{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: rgba(153, 153, 153, 1);
   }