/* body{
    margin: 0;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fistNavimg{
    width: 100%;
    height: 130px;
    overflow: hidden;
    /* position: fixed; */
}
.dropdownNavdiv{
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 10px 0 0 0;
    flex-wrap: wrap;
}


.accountNav{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -13px;
}




.navDivsecondimg{
    margin: 40px 0 0 0;
}
.navlogoimg{
    width: 143.86px;
height: 32.27px;
top: 184px;
left: 105.09px;
gap: 0px;
opacity: 0px;

}
.searchInputDiv{
    border: 1px solid rgba(248, 130, 22, 1);
    display: flex;
    align-items: center;
    height: 36px;
    padding:0 0 0 10px;
    border-radius: 4px;
}
.searchInput{
    border: none;
    outline: none;
    width: 100%;
}
.searchInputbtn{
    background-color: rgba(248, 130, 22, 1);
    padding: 8px;
    font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  border: none;
}
.navSearchText{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 15px;
    color: rgba(47, 46, 65, 1);
    cursor: pointer;
}
.thirddivfull{
    background-color: white;
    padding: 20px;
}

.navSearchdiv{
    margin: -20px 0 0 0;
}
.navRightsidediv{
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-align: center;
    margin: 40px 0 0 0;
}
