@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bannerfulldiv{
    margin: 10px 0 0 0;
}
.topCategoryfulldiv{
    /* margin: 10px 0 0 0; */
    background-color: white;
    padding: 10px 10px 10px 30px;
    border-radius: 4px;
}
.topCategoryfulldiv a{
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: rgba(255, 102, 0, 1);
}
.topCategorydiv{
    /* background-color: white; */
    /* border: 1px solid gray; */
    
}
.topCategories{
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 20px 0;
}

.topCategoryTag{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    /* font-style: normal; */
}
.topCatetext{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);

}

/* Wrapper for the image and content */
.imageWrapper {
    position: relative;
    width: 100%;
    height: auto;
  }

  .bannerimage{
    /* border: 1px solid rgb(141, 15, 15); */
    
  }
  
  /* Image styling */
  .imageWrapper img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Text and button container */
  .textOverlay {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 20px;
   
  }
  
  /* Button styling */
  .textOverlay button {
    margin-top: 10px;
    padding: 4px 20px;
    background-color: #0070f3; /* Customize the button color */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
  
  .textOverlay h2 {
    margin: 0;
    font-size: 24px; /* Adjust the font size as needed */
    /* font-size: 14px; */
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    width: 250px;
    font-style: italic;
    color: orange;
  
  }
  .textOverlayh2{
    text-shadow: whitesmoke;
  }
  

  .bannerFirstfulldiv{
    height: 374px;
  }

  /* Wrapper for the image and content */
.imgContainer {
  position: relative;
  width: 100%;
  height: auto;
  margin:0 0 10px 0;
}

/* Image styling */
.imgContainer img {
  width: 100%;
  height: 180px;
  display: block;
}

/* Text and button container */
.textOverlaytwo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 20px;
  color: white; /* Adjust this based on your image color for better readability */
}

/* Button styling */
.textOverlaytwo button {
  margin-top: 10px;
  padding: 6px 15px;
  background-color: transparent; /* Customize the button color */
  color: 
  rgba(38, 92, 129, 1);
  border: 1px solid gray;
border-radius: 10px;
  cursor: pointer;
}

.textOverlaytwo h3 {
  margin: 0;
  width: 157px;
  height: 42px;
  color: black;
  font-size: 14px;
  line-height: 21px; 
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* width: 250px; */
}
.learnMoretest{
  display: flex;
  gap: 10px;
}

.learnCard{
  display: flex;
  /* background-color: white; */
  justify-content: space-between;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  /* padding: 6px 0 0 0 ; */
  width: 100%;
  height: 100px;
}

.learnCardtexts{
  padding: 10px 0 0 10px;
}
.learnCardtexts h6{
  font-size: 15px;
  /* line-height: 22.5px;  */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
 
  /* border: solid gray; */
  height: 50px;
}
.learnCardtexts p{
  
  font-size: 14px;
  /* line-height: 22.5px;  */
  font-family: "Poppins", sans-serif;
  /* width: 150px; */
  font-weight: 400;
  color: rgba(248, 130, 22, 1);
}
.moreServiceTag{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: underline;
  margin: 65px 0 0 0;
}

.sellerTag{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
}
.sellerfulldiv{
  margin: 40px 0 0 0 ;
}
.sellerCard{
  /* border: solid; */
  display: grid;
  place-items: center;
  background-color: white;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
}
.sellerTitle{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: rgba(2, 2, 44, 1);
  
}
.sellerType{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(88, 88, 88, 1);
}

.eletronixsFulldiv{
  background-color: white;
  margin: 30px 0;
  padding: 30px;
}
.electroCard{
  /* border: solid; */
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  background-color: white;
  padding: 10px;
  width: 98%;
  /* margin: 10px; */
}
.electroCardText{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.electroTitle{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: rgba(0, 0, 0, 1);
/* border: solid gray; */
height: 27px;
}
.electimgdiv{
  background-color: rgba(240, 240, 240, 1);
}
.electimg{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}
.electrocardLowerDiv{
  margin: 10px 0 5px 0;
display: flex;
justify-content: space-between;
/* align-items: center; */
text-align: center;
}
.electroType{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: rgba(0, 0, 0, 1);
}
.electroMOQ{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 8px;
  color: rgba(0, 0, 0, 1);
}
.electroAss{
  /* border: solid gray; */
  /* width: 100px; */
  display: flex;
  align-items: center;
  gap: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 9px;
  color: rgba(0, 0, 0, 1);
}
.electrobuttn{
  display: flex;
  border: none;
  border-radius: 5px;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(108, 99, 255, 1);
  width: 75.66px;
  height: 23.03px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 7px;
  color: rgba(255, 255, 255, 1);
}


.BusinessAdvFulldiv{
  /* border: solid gray; */
  margin: 50px 0 0 0;
}
.businessAdvisorDiv{
 display: flex;
 justify-content: start;
 flex-direction: column;
 align-items: start; 
 background-color: white;
 padding: 20px;
 margin: 30px 0 0 0;
 width: 203px;
 height: 356px;
 border-radius: 20px;

}
.businessAdviImg{
  margin: 0 10px 0 0;
}

.businessAdvisortag{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  width: 198px;
}
.businessAdvisorparag{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 1);
  width: 163px;
  text-align: justify;
  height: 159px;
}
.businessAdvisorbuttonOne{
  width: 106px;
  /* border: solid gray; */
  height: 29.37px;
  background: rgba(226, 226, 226, 1);
border-radius: 10px;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 12px;
color: rgba(0, 0, 0, 1);
border: none;
}
.businessAdvisorbuttonOne:hover{
  background: rgba(49, 89, 251, 1);
  color: white;
}
.businessAdvisorbuttontwo{
  width: 153px;
  /* border: solid gray; */
  height: 29.37px;
  background: rgba(255, 181, 209, 1);
border: none;
border-radius: 10px;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 12px;
color: rgba(0, 0, 0, 1);
margin: 5px 0;
}

.businessAdvisorbuttontwo:hover{
  background: rgba(49, 89, 251, 1);
color: white;
}

.vidiorfq{
  margin: 40px 0 0 0;
}

.rfqfulldiv{
  background-color: white;
  margin: 40px 0 0 0 ;
  padding: 40px 0 0 20px;
  border-radius: 10px;
}

.RFQnumberofreaching{
  display: flex;
  flex-direction: column;
  justify-content: start;

}
.ROFhr{
  margin: 10px 0 0 0;
}
.RFQnumbers{
  display: flex;
  margin: 10px 0 0 0;
  justify-content: space-evenly;
}
.rfqimg{
  width: 49px;
  height: 49px;
  border-radius: 100%;
  
}
.vidiorfqiframe{
  display:flex;
  justify-content: center;
  align-items:center;
}
.rfqtag{
  font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 18px;
color: rgba(0, 0, 0, 1);
}
.rfqcardfull{
  /* display:flex;
  justify-content: center;
  align-items: center; */
  margin-left: 50px;
  margin: -61px 0 0 46px;
}
.rfqcard{
  /* border: solid gray; */
  background: rgba(240, 240, 240, 1);
  width: 300px;
  height: 175px;
padding: 20px;
}
.moqparagrap{
  font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 12px;
text-align: justify;
color: rgba(0, 0, 0, 1);
margin: 20px 0 0 0;
}
.moqNumbers{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  
}
.moqNumtext{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  
}
.RFQnumberofreaching{
  text-align: justify;
  display:flex;
  flex-direction:column;
  justify-content: start;
}
.textts{
  color: black;
  font-family: "Poppins", sans-serif;
font-weight: 600;
text-align: justify;
font-size: 12px;
color: rgba(0, 0, 0, 1);
}
.texttss{
  color: black;
  font-family: "Poppins", sans-serif;
  text-align: justify;
font-weight: 400;
font-size: 10px;
color: rgba(0, 0, 0, 1);
/* margin: 10px 0; */
}
.texttsss{
  font-family: "Poppins", sans-serif;
font-weight: 500;
text-align: justify;
font-size: 13px;
color: rgba(0, 0, 0, 1);
/* margin: 10px 0; */
  
}
.customPagination {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  width: 100%;
  text-align: center;
}

.customPagination .swiper-pagination-bullet {
  background-color: #000; /* Default dot color */
  opacity: 0.7;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

.customPagination .swiper-pagination-bullet-active {
  background-color: #ff0000; /* Active dot color */
  opacity: 1;
}

.PostBuyReqfulldiv{
  margin: 40px 0 40px 0;
  background: linear-gradient(93.21deg, rgba(255, 177, 105, 0.54) 27.93%, rgba(255, 255, 255, 0.54) 52.66%);

  padding: 30px 30px 20px 20px;
}
.PostBuyReqfimgdiv{
display: flex;
justify-content: center;
align-items:center;
padding: 30px 0 0 0;
}

.postbytextinpdiv{
  display:flex;
  flex-direction: column;
  justify-content: start;
}
.productInputicondiv{
  display:flex;
  align-items:center;
  border: .5px solid rgba(130, 130, 130, 1);
  padding: 10px; 
  
}
.productInput{
  border:none;
  width: 100%;
  outline: none;
}
.productInputbtn{
  float:right;
  margin: 10px 0 0 0;
  padding: 5px 15px;
  background: rgba(1, 85, 182, 1);
color: white;
font-family: "Poppins", sans-serif;
font-weight: 500;
text-align: justify;
font-size: 13px;
border-radius: 5px;
border:none;
}
